* {
  margin: 0px;
  padding: 0.5px;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: white;
}
body.light-theme {
  background-color: rgb(26, 20, 20);
}
body.country-details div{
  color: white;
}
.dark {
  cursor: pointer;
  margin-right: 10px;
}
img {
  max-width: 100%;
}
/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3743;
}
/*Filter*/

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.filter .control {
  width: 100%;
}
.filter .control input{
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .region {
  width: 100%;
 
}

.filter .region .select {
  background-color: #2b3743;
  color: #fff;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}
/*For countries*/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 41px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  body {
    padding: 50px 100px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}

.detail {
  background-color: rgb(97, 179, 179);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(22, 18, 18);
}
.btn {
  background-color: rgb(80, 80, 49);
  padding: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: none ;
  border-radius: 4px;
}
.btn:hover {
  background-color: #fff;
  color: rgb(24, 22, 22);
}
.detail h4 span {
  font-size: 15px;
  font-weight: 100;
}
.detail h4 {
  font-weight: 250;
}